:root {
  --background: #2B2B2B;
  --background-chat: #1F1F1F;
  --background-message-get: #161616;
  --background-message-send: #414141;
  --line: #3D3D3D;
  --text: #FFFFFF;
  --description: #C4C4C4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 100vh;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  background-color: var(--background);
  border: 1px solid var(--text);
  border-radius: 8px;
  height: 40px;
  padding-left: 16px;
  color: var(--text);
  font-size: 18px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text);
  font-size: 18px;
}

img.logo {
  position: absolute;
  margin: auto 0;
  bottom: 24px;
}
