:root {
  --background: #2B2B2B;
  --background-box: #1F1F1F;
  --background-box-hover: #282828;
  --background-dark: #101010;
  --background-light: #414141;
  --background-line: #3D3D3D;
  --text: #FFFFFF;
  --text-description: #C4C4C4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root, button, input {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.02rem;
  color: var(--text)
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
