.contacts-container {
  height: 100%;
  min-width: 280px;
  overflow-y: auto;
  background-color: var(--background-box);
  border-radius: 24px 0px 0px 24px;
  box-shadow: 0px 0px 24px rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.contacts-container button {
  position: relative;
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0px 24px;
  transition: background-color 0.1s;
}

.contacts-container button:first-child {
  border-top-left-radius: 24px;
}

.contacts-container button:hover {
  background-color: var(--background-box-hover);
}

.contacts-container button svg {
  margin-right: 8px;
  height: 24px;
}

.contacts-container button div {
  text-align: start;
}

.contacts-container button div p:first-child {
  font-weight: bold;
}

.contacts-container button div p:last-child {
  font-size: 16px;
  color: var(--text-description);
}

.contacts-container button span {
  position: absolute;
  right: 24px;
  width: 20px;
  height: 20px;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-container hr {
  border-color: var(--background-line);
}

.contacts-container button.selected {
  background-color: var(--background-dark);
}
